In [1]:
import FinanceDataReader as fdr

In [32]:
stocks1 = fdr.StockListing('KOSPI') # KOSPI: 5,897 종목
stocks2 = fdr.StockListing('KOSDAQ-DESC') # KOSDAQ: 1,609 종목

In [33]:
stocks1.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,53200,2,-500,-0.93,53300,54000,53100,12624702,675489909100,317592431660000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,173900,2,-600,-0.34,174000,175800,172400,1434202,250367749400,126599611273500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,348000,3,0,0.00,345000,358500,345000,169683,59751192000,81432000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,949000,1,15000,1.61,935000,969000,932000,52104,49830589000,67544126000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,212000,2,-3000,-1.40,213500,217000,212000,387750,82971719000,44396232492000,209416191,STK

In [5]:
stocks2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1736 entries, 0 to 1735
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            1736 non-null   object
 1   Name            1736 non-null   object
 2   Market          1736 non-null   object
 3   Sector          1733 non-null   object
 4   Industry        1730 non-null   object
 5   ListingDate     1733 non-null   datetime64[ns]
 6   SettleMonth     1733 non-null   object
 7   Representative  1733 non-null   object
 8   HomePage        1569 non-null   object
 9   Region          1733 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 135.8+ KB

In [3]:
stocks1.head()

,Code,Name,Market,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,095570,AJ네트웍스,KOSPI,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,손삼달,http://www.ajnet.co.kr,서울특별시
1,006840,AK홀딩스,KOSPI,기타 금융업,지주사업,1999-08-11,12월,채형석,http://www.aekyunggroup.co.kr,서울특별시
2,027410,BGF,KOSPI,기타 금융업,지주회사,2014-05-19,12월,홍정국,http://www.bgf.co.kr,서울특별시
3,282330,BGF리테일,KOSPI,종합 소매업,체인화 편의점,2017-12-08,12월,민승배,http://www.bgfretail.com,서울특별시
4,138930,BNK금융지주,KOSPI,기타 금융업,금융지주회사,2011-03-30,12월,빈대인,http://www.bnkfg.com,부산광역시

In [6]:
stocks1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            961 non-null    object
 1   Name            961 non-null    object
 2   Market          961 non-null    object
 3   Sector          848 non-null    object
 4   Industry        837 non-null    object
 5   ListingDate     848 non-null    datetime64[ns]
 6   SettleMonth     848 non-null    object
 7   Representative  848 non-null    object
 8   HomePage        820 non-null    object
 9   Region          848 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 75.2+ KB

In [7]:
stocks3 = fdr.StockListing('KOSPI')
stocks3.head(2)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,53200,2,-500,-0.93,53300,54000,53100,12624702,675489909100,317592431660000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,173900,2,-600,-0.34,174000,175800,172400,1434202,250367749400,126599611273500,728002365,STK

In [2]:
from marcap import marcap_data

In [3]:
df = marcap_data('2024-12-12', '2024-12-22')
etfs = fdr.StockListing('ETF/KR')

In [26]:
df1 = marcap_data('2024-12-03')
df1

,Code,Name,Close,Dept,ChangeCode,Changes,ChagesRatio,Volume,Amount,Open,High,Low,Marcap,Stocks,Market,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2024-12-03,005930,삼성전자,53600,NaN,3,0,0.00,23374603,1257635151648,53100,54400,53100,319980344680000,5969782550,KOSPI,STK,1
2024-12-03,000660,SK하이닉스,164900,NaN,1,6100,3.84,4180365,677103146098,159200,165100,159100,120047589988500,728002365,KOSPI,STK,2
2024-12-03,373220,LG에너지솔루션,397000,NaN,1,5500,1.40,241946,95496905000,393500,401000,385000,92898000000000,234000000,KOSPI,STK,3
2024-12-03,207940,삼성바이오로직스,967000,NaN,2,-4000,-0.41,85347,83150088545,983000,991000,964000,68825258000000,71174000,KOSPI,STK,4
2024-12-03,005380,현대차,214500,NaN,2,-1500,-0.69,624929,134620539247,218000,218000,213500,44919772969500,209416191,KOSPI,STK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-03,215570,크로넥스,423,일반기업부,5,-74,-14.89,335,142859,423,499,423,2148018111,5078057,KONEX,KNX,2852
2024-12-03,245450,씨앤에스링크,1300,일반기업부,2,-100,-7.14,162,194850,1400,1400,1200,2053948000,1579960,KONEX,KNX,2853
2024-12-03,288490,나라소프트,59,일반기업부,5,-10,-14.49,94765,5609241,77,77,59,1030823043,17471577,KONEX,KNX,2854
2024-12-03,413300,티엘엔지니어링,550,일반기업부,3,0,0.00,3,1722,632,632,540,718033250,1305515,KONEX,KNX,2856
2024-12-03,419700,이브이파킹서비스,9,일반기업부,2,-167,-94.89,6690391,68810856,7,13,7,155399994,17266666,KONEX,KNX,2857

In [22]:
df2 = marcap_data('2021-01-22')
df2

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Rank
Date,,,,,,,,,,,,,,,,,
2021-01-22,005930,삼성전자,KOSPI,NaN,86800,2,-1300,-1.48,89000,89700,86800,30861661,2717635251520,518177125340000,5969782550,STK,1
2021-01-22,000660,SK하이닉스,KOSPI,NaN,128500,2,-3000,-2.28,131500,132000,128500,3927767,511059802500,93548303902500,728002365,STK,2
2021-01-22,051910,LG화학,KOSPI,NaN,975000,2,-13000,-1.32,986000,990000,975000,394045,386570413333,68827534425000,70592343,STK,3
2021-01-22,005935,삼성전자우,KOSPI,NaN,77600,3,0,0.00,79000,79400,77600,3026828,237024738000,63856007920000,822886700,STK,4
2021-01-22,035420,NAVER,KOSPI,NaN,343500,1,21000,6.51,332000,350000,326000,3303950,1126878299750,56424476182500,164263395,STK,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-22,238500,로보쓰리,KONEX,일반기업부,546,2,-39,-6.67,585,585,500,98184,50646175,2556462636,4682166,KNX,2525
2021-01-22,267810,앙츠,KONEX,일반기업부,1610,1,10,0.63,1610,1610,1610,6,9660,2490670000,1547000,KNX,2526
2021-01-22,224020,에스케이씨에스,KONEX,일반기업부,750,2,-49,-6.13,681,750,681,51,34800,2306250000,3075000,KNX,2527
2021-01-22,242350,피엔아이컴퍼니,KONEX,일반기업부,471,1,12,2.61,420,527,420,8443,4422625,2242675920,4761520,KNX,2528
2021-01-22,225860,엠앤씨생명과학,KONEX,일반기업부,97,4,12,14.12,79,97,73,210301,17838509,1101734924,11358092,KNX,2532

In [ ]:
def marcap_data(start, end=None, code=None):
  '''
  지정한 기간 데이터 가져오기
  :param datetime start: 시작일
  :param datetime end: 종료일 (지정하지 않으면 시작일과 동일)
  :param str code: 종목코드 (지정하지 않으면 모든 종목)
  :return: DataFrame
  '''
  start = pd.to_datetime(start)
  end = start if end==None else pd.to_datetime(end)
  df_list = []

  dtypes={'Code':np.str_, 'Name':np.str_, 
          'Open':np.int64, 'High':np.int64, 'Low':np.int64, 'Close':np.int64, 'Volume':np.int64, 'Amount':np.int64,
          'Changes':np.int64, 'ChangeCode':np.str_, 'ChagesRatio':np.float64, 'Marcap':np.int64, 'Stocks':np.int64,
          'MarketId':np.str_, 'Market':np.str_, 'Dept':np.str_,
          'Rank':np.int64}
    
  for year in range(start.year, end.year + 1):
    try:
      csv_file = 'marcap/data/marcap-%s.csv.gz' % (year)
      df = pd.read_csv(csv_file, dtype=dtypes, parse_dates=['Date'])
      df_list.append(df)
    except Exception as e:
      print(e)
      pass
  df_merged = pd.concat(df_list)
  df_merged = df_merged[(start <= df_merged['Date']) & (df_merged['Date'] <= end)]  
  df_merged = df_merged.sort_values(['Date','Rank'])
  if code:
    df_merged = df_merged[code == df_merged['Code']]  
  df_merged.set_index('Date', inplace=True)
  return df_merged[df_merged['Volume'] > 0]