In [1]:
# 데이터 분석을 위한 패키지
import numpy as np
import pandas as pd

In [2]:
# 모든 컬럼,행을 출력하도록 설정
pd.set_option('display.max_columns', None) # None으로 설정하면 모든 컬럼 출력
pd.set_option('display.max_rows', None) #None으로 설정하면 모든 행 출력

In [3]:
import FinanceDataReader as fdr

In [13]:
df = fdr.DataReader('KS11')

In [14]:
df.head()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2001-06-11,612.46,615.41,607.20,608.23,340123834,-0.0218,2,-13.55,1711354887650,213769808029580
2001-06-12,605.36,611.88,603.91,607.15,319877548,-0.0018,2,-1.08,1579309434050,213407866089170
2001-06-13,611.79,614.05,607.48,614.05,392415108,0.0114,1,6.90,1882785913600,215722300556140
2001-06-14,612.96,623.37,610.36,613.75,420520519,-0.0005,2,-0.30,2138122210150,215864633350565
2001-06-15,609.54,618.96,604.37,618.96,375830101,0.0085,1,5.21,1984248114150,217830955673590

In [11]:
stocks = fdr.StockListing('KOSPI')

In [12]:
stocks.head(10)

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,53700,2,-1200,-2.19,53500,53800,53500,2412581,129336199900,320577322935000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,174600,2,-8900,-4.85,173900,174700,173000,902311,156795443700,127109212929000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,371500,2,-10000,-2.62,373500,374000,368000,28356,10536228000,86931000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,975000,2,-5000,-0.51,965000,980000,962000,3238,3140859000,69394650000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,213000,2,-3500,-1.62,213000,213500,212000,46519,9900284500,44605648683000,209416191,STK
5,068270,KR7068270008,셀트리온,KOSPI,,195100,2,-4100,-2.06,194100,196500,194100,67442,13160008500,42352025885400,217078554,STK
6,000270,KR7000270009,기아,KOSPI,,99600,2,-2200,-2.16,100000,100300,99500,175971,17577430100,39608194147200,397672632,STK
7,005935,KR7005931001,삼성전자우,KOSPI,,44250,2,-1050,-2.32,44300,44600,44250,106141,4706909400,36412736475000,822886700,STK
8,105560,KR7105560007,KB금융,KOSPI,,85700,2,-1500,-1.72,85600,86200,85100,140282,12024852700,33725385851100,393528423,STK
9,035420,KR7035420009,NAVER,KOSPI,,209500,2,-3000,-1.41,208500,211000,207500,96460,20149258000,33192553176000,158437008,STK