In [1]:
# 데이터 분석을 위한 패키지
import numpy as np
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# 모든 컬럼,행을 출력하도록 설정
pd.set_option('display.max_columns', None) # None으로 설정하면 모든 컬럼 출력

pd.set_option('display.max_rows', 50) #None으로 설정하면 모든 행 출력

In [4]:
#CSV 파일 불러오기
df_stocks = pd.read_csv('stocks.csv')

In [5]:
df_stocks.head(1)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,005930,삼성전자,KOSPI,NaN,53900,1,500,0.94,54500,54500,53700,6965539,377240465300,321771279445000,5969782550,STK,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조(...",1975-06-11,12월,한종희,http://www.samsung.com/sec,경기도

In [13]:
df_stocks.index[df_stocks['ChagesRatio'] == 30]

Index([1232, 2017], dtype='int64')

#### 행을 추출하는 방법

In [ ]:
# 행 추출방법

# case1) []  : 대괄호 접근 - 퍼포먼스 (속도)가 제일빠름
df_stocks[df_stocks['ChagesRatio'] >= 25]

# case2) loc : 인덱스명
# df_stocks.loc[df_stocks['ChagesRatio'] == 30]

# case3) query - 가독성이 가장 좋음
# df_stocks.query('ChagesRatio == 30')

# case4) iloc : 인덱스번호
# indices = df_stocks.index[df_stocks['ChagesRatio'] == 30]
# df_stocks.iloc[indices]

#### 행을 추출한 뒤 열을 추출하는 방법

In [9]:
# 행 추출방법

# case1) loc : 인덱스명
# df_stocks.loc[df_stocks['ChagesRatio'] == 30]
# df_stocks.loc[df_stocks['ChagesRatio'] == 30[['Name','Sector']]
# df_stocks.loc[df_stocks['ChagesRatio'] == 30, ['Name','Sector']]

# case2) iloc : 인덱스번호
# indices = df_stocks.index[df_stocks['ChagesRatio'] == 30]
# df_stocks.iloc[indices]
# df_stocks.iloc[df_stocks.index[df_stocks['ChagesRatio'] == 30]][['Name','Sector']]
# df_stocks.iloc[df_stocks.index[df_stocks['ChagesRatio'] == 30], [1,16]]

# case3) query
# df_stocks.query('ChagesRatio == 30')[['Name','Sector']]

# case4) [] : 대괄호 접근
df_stocks[df_stocks['ChagesRatio'] >= 25][['Name', 'Sector']]

           Name                             Sector
640        일성건설                             토목 건설업
711        삼부토건                             토목 건설업
856   아티스트유나이티드                     소프트웨어 개발 및 공급업
1036     수산아이앤티                     소프트웨어 개발 및 공급업
1039    오리엔트바이오                            의약품 제조업
1070     오리엔트정공                      자동차 신품 부품 제조업
1149      토탈소프트                     소프트웨어 개발 및 공급업
1192       프리엠스  전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업
1373      형지엘리트                           봉제의복 제조업
1375       이스타코                       부동산 임대 및 공급업
1531       범양건영                             건물 건설업
1594         카스                   기계장비 및 관련 물품 도매업
1795        코이즈                         플라스틱제품 제조업
1936         CS                     통신 및 방송 장비 제조업
2312        디젠스                      자동차 신품 부품 제조업
2328      형지I&C                           봉제의복 제조업
2578  한국ANKOR유전                        신탁업 및 집합투자업

In [9]:
df_stocks.describe()

,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,"2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00","2,856.00"
mean,"17,277.81",1.74,-252.24,-1.34,"17,350.08","17,727.46","16,589.57","530,937.62","6,083,800,081.34","813,022,574,906.72","41,860,266.36"
std,"55,557.71",0.62,"3,615.76",3.90,"59,603.33","63,697.83","54,021.76","2,191,042.62","35,652,427,617.24","7,277,020,680,997.95","132,789,219.19"
min,3.00,0.00,"-187,000.00",-29.93,0.00,0.00,0.00,0.00,0.00,"51,799,998.00","200,000.00"
25%,"2,078.75",1.00,-200.00,-3.06,"2,000.00","2,015.00","1,970.75","24,979.00","101,564,988.00","41,371,681,950.00","10,173,538.00"
50%,"4,800.00",2.00,-50.00,-1.28,"4,677.50","4,797.50","4,445.00","93,065.00","423,984,237.50","89,545,483,875.00","19,772,950.00"
75%,"12,775.00",2.00,0.00,0.00,"12,667.50","12,882.50","12,110.00","273,885.00","1,842,105,927.50","227,721,329,146.25","41,894,574.75"
max,"1,813,000.00",5.00,"8,800.00",30.00,"2,124,000.00","2,407,000.00","1,736,000.00","37,844,885.00","1,228,936,823,600.00","322,965,235,955,000.00","5,969,782,550.00"

#### 정렬하기

In [ ]:
# 전일 대비 상승률 상위 30위 종목
top_30_increse_indices = df_stocks.sort_values('ChagesRatio',ascending=False).head(30).index
df_top_30_increse = df_stocks.iloc[top_30_increse_indices]
df_top_30_increse

In [ ]:
bottom_30_increse_indices = df_stocks.sort_values('ChagesRatio',ascending=True).head(30).index
df_bottom_30_increse = df_stocks.iloc[bottom_30_increse_indices]
df_bottom_30_increse

In [ ]:
df_top_30_increse['Sector'].value_counts()

In [ ]:
df_bottom_30_increse['Sector'].value_counts()

#### 그룹핑

In [12]:
df_stocks.groupby(['Market','Sector'])[['Marcap','Volume']].mean()

                                              Marcap     Volume
Market Sector
KONEX  1차 철강 제조업                    9,697,252,500.00       1.00
       건축기술, 엔지니어링 및 관련 기술 서비스업    14,687,870,416.67       0.67
       곡물가공품, 전분 및 전분제품 제조업         2,354,598,456.00       0.00
       교육지원 서비스업                    4,406,072,000.00       0.00
       그외 기타 전문, 과학 및 기술 서비스업      11,092,821,168.00  22,266.00
...                                              ...        ...
KOSPI  항공 여객 운송업                1,917,593,776,230.00 206,037.67
       항공기,우주선 및 부품 제조업         8,795,310,467,900.00 293,236.50
       해상 운송업                   3,137,504,462,028.83 270,669.50
       화학섬유 제조업                   555,105,034,058.33   7,744.83
       회사 본부 및 경영 컨설팅 서비스업        260,949,134,646.00  13,193.10

[332 rows x 2 columns]

In [ ]:
df_stocks.sort_values('ChagesRatio', ascending=False).head(30)['Name']

In [27]:
type(df_stocks.groupby('Sector')['Marcap'].sum().reset_index())

pandas.core.frame.DataFrame

In [ ]:
df_stocks.groupby('Sector')['Marcap'].head()

In [ ]:
df_stocks.groupby('Sector')[['Marcap']].idxmax()

In [ ]:
df_stocks.head(10)

In [16]:
type(df_stocks.groupby('Sector'))

pandas.core.groupby.generic.DataFrameGroupBy

In [58]:
# 산업별 시가총액이 가장 큰 종목 가져오기

tmp_idx = df_stocks.groupby('Sector')[['Marcap']].idxmax()
df_stocks.loc[tmp_idx['Marcap'].values][['Name','Sector','Industry','Marcap']].sort_values('Marcap',ascending=False).head()

,Name,Sector,Industry,Marcap
0,삼성전자,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조(...",323562214210000
1,SK하이닉스,반도체 제조업,"반도체,컴퓨터,통신기기 제조,도매",122959599448500
2,LG에너지솔루션,일차전지 및 이차전지 제조업,"2차전지 (소형,ESS,자동차전지)",91845000000000
3,삼성바이오로직스,기초 의약물질 제조업,바이오의약품,68113518000000
4,현대차,자동차용 엔진 및 자동차 제조업,"자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업",42197362486500

In [23]:
df_stocks.groupby('Sector')[['Marcap']].sum()

                             Marcap
Sector
1차 비철금속 제조업          37920927768640
1차 철강 제조업            35671923711315
가구 제조업                1554493286856
가전제품 및 정보통신장비 소매업      175641377280
가정용 기기 제조업            3730267522081
...                             ...
항공기,우주선 및 부품 제조업     18770656203560
해상 운송업               18825026772173
해체, 선별 및 원료 재생업         54978769543
화학섬유 제조업              3545165037782
회사 본부 및 경영 컨설팅 서비스업   3458222498825

[160 rows x 1 columns]

In [21]:
df_stocks.groupby('Sector')['Marcap'].sum().reset_index()

                  Sector          Marcap
0            1차 비철금속 제조업  37920927768640
1              1차 철강 제조업  35671923711315
2                 가구 제조업   1554493286856
3      가전제품 및 정보통신장비 소매업    175641377280
4             가정용 기기 제조업   3730267522081
..                   ...             ...
155     항공기,우주선 및 부품 제조업  18770656203560
156               해상 운송업  18825026772173
157      해체, 선별 및 원료 재생업     54978769543
158             화학섬유 제조업   3545165037782
159  회사 본부 및 경영 컨설팅 서비스업   3458222498825

[160 rows x 2 columns]

In [ ]:
# 산업별 시가총액 상위목록

# 산업별 시가 총액 합계 계산
df_stocks.groupby('Sector')['Marcap'].sum().reset_index()

# 각 산업별로 시가총액이 가장 높은 기업
top_industries = df_stocks.loc[df_stocks.groupby('Sector')['Marcap'].idxmax()]
top_industries

In [18]:
df_stocks.head(1)

,Code,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,005930,삼성전자,KOSPI,NaN,54100,1,400,0.74,53900,54400,52700,22804926,1228936823600,322965235955000,5969782550,STK,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조(...",1975-06-11,12월,한종희,http://www.samsung.com/sec,경기도